<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Servlet</display-name>
  <welcome-file-list>
    <welcome-file>Indice.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>Ejemplo de Prueba</description>
    <servlet-name>MiServlet</servlet-name>
    <servlet-class>servlet.MiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MiServlet</servlet-name>
    <url-pattern>/MiServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>Practica 1</description>
    <servlet-name>Practica 1</servlet-name>
    <servlet-class>practica1.Practica1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Practica 1</servlet-name>
    <url-pattern>/Practica 1</url-pattern>
  </servlet-mapping>
  
  
  
  
  <servlet>
    <description>Listener1Contes</description>
    <servlet-name>Listener1Contes</servlet-name>
    <servlet-class>teoria.Listener1Contest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Listener1Contes</servlet-name>
    <url-pattern>/Listener1Contes</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>Listener2Sesion</description>
    <servlet-name>Listener2Sesion</servlet-name>
    <servlet-class>teoria.Listener2Sesion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Listener2Sesion</servlet-name>
    <url-pattern>/Listener2Sesion</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>Listener3Request</description>
    <servlet-name>Listener3Request</servlet-name>
    <servlet-class>teoria.Listener3Request</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Listener3Request</servlet-name>
    <url-pattern>/Listener3Request</url-pattern>
  </servlet-mapping>
  
  
  
  
  
  <listener>
	<listener-class>teoria.Listeners1Contest</listener-class>
</listener>
  <listener>
	<listener-class>teoria.Listeners2Sesion</listener-class>
</listener>
  <listener>
	<listener-class>teoria.Listeners3Request</listener-class>
</listener>
  
</web-app>